<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What\'s a resource?') }}</h2>
  <div class="module-content">
    <p>{{ _('Un recurso puede ser cualquier archivo o enlace a un archivo que contiene datos útiles.') }}</p>
  </div>
</section>

<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Qué es el esquema de un recurso?') }}</h2>
  <div class="module-content">
    <p>{{ _('El esquema de un recurso es una descripción de los campos que contiene.') }}</p>
    <p>{{ _('Para cada campo del esquema, pueden definirse las siguientes propiedades:') }}</p>
    <p><strong>Atributo:</strong> El nombre del campo como se encuentra en el recurso.</p>
    <p><strong>Tipo:</strong> El tipo de datos de los valores del campo.</p>
    <p><strong>Descripción:</strong> Una breve descripción del campo.</p>
    <p>{{ _('Estas propiedades (y sus valores) se definen de acuerdo a la especificación') }}
        <a href="http://dataprotocols.org/json-table-schema/">{{ _('JSON Table Schema') }}</a>{{_('.')}}</p>
  </div>
</section>